*{
    padding: 0;
    margin: 0;
    font-family: B-titr;
}
.ga-maamli-regular {
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,button{
    cursor: pointer;
}
body{
    background-color: #f0ffff;
    backdrop-filter: blur(100%);
    position: relative;
    z-index: 0;
    
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("img/y2017-05-07-002_generated.jpg") repeat;
  opacity: 0.05; /* اینجا کم‌رنگ می‌کنیم */
  z-index: -1;
}
header{
    width: 100%;
    height: 10vh; 
    display: flex;
    background-color: transparent;
    align-items: center;
    z-index: 0;    
    position: relative;
}

.btn3{
    width: 5vh;
    height: 5vh;
    background-color: #f0ffff;
    position: absolute;
    border-radius: 50%;
    right: 1.75%;
    z-index: 1;
    display: flex;
    align-items: center;
    border: none;
    
}
.btn3 img{
  margin: auto;
  cursor: pointer;
}
header h2{
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  direction: rtl;
  z-index: 1;
  font-size: x-large;
  margin-right: 45px;
}
.example{
  width: 90%;
  margin-left: 5%;
  border-radius: 4px;
}
.container1{
    margin-top: 30px;
    width: 100%;
    height: 310px;
}
.container1:nth-child(2){
  margin-top: 0px;
}
.container1 h1{
    margin-right: 4vh;
    padding-top: 2.5%;
    direction: rtl;
}
.slider{
    user-select:none;
    cursor: grab;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    scroll-behavior: smooth;
    overflow-y: auto;
}
.slider::-webkit-scrollbar {
    display: none;
  }
  .slider:active{
    cursor: grabbing;
  }
.option1{
  max-height: 270px;
    flex: 0 0 60%; /* هر کارت 85٪ عرض صفحه باشه */
    background: white;
    border-radius: 1rem;
    scroll-snap-align: center; /* کارت وسط صفحه قرار بگیره */
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.option1 .img{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    height: 60%;
    cursor: auto;
}
.option1 h2{
    direction: rtl;
    margin-right: 5px;
    margin-top: 5px;
}
.option1 p{
    direction: rtl;
    margin-right: 7.5px;
    margin-top: 5px;
}
.option1 h4{
  display: inline-block;
}
.option1 i{
  font-size: 18px;
  margin-left: 5%;
  margin-top: 4vh;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 1232342499;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: none;
  direction: rtl;
  box-shadow: -4px 0 8px rgba(0,0,0,0.4);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* نرم روی موبایل */
  isolation: isolate;
}
/* وقتی منو بازه، بدنه قفل میشه */
.body-locked {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.sidebar.open {
  transform: translateX(0);
  opacity: 1;
}
.sidebar h3{
  display: inline-block;
  color:black;
}
.sidebar .close-btn{
  font-size: xx-large;
  color: black;  
  position: absolute;
  top: 2vh;
}
.btn1{
    width: 5vh;
    height: 5vh;
    background-color: #f0ffff;
    position: absolute;
    left: 4vh;
    top: 1.5vh;
    border-radius: 50%;
    margin-left: 1.75%;
    border: .1px solid black;
    backdrop-filter: blur(10px);
    display: inline-block;
}
body.dark-mode .btn1{
  border: #ccc .1px solid;
}
body.dark-mode .sidebar button{
  color: white;
}
.sidebar .logo{
  width: 60%;
  display: block;
  margin-right: 20%;
}
.sidebar li{
  list-style-type: none;
  width: 100%;
  height: 8vh;
  border-bottom: solid 2px #000000;
  max-height: 8vh;
  
}
.sidebar li:nth-child(1){
  border-top: #000000 2px solid;
  height: 10vh;
  max-height: 10vh;
}
.sidebar a{
  margin-right: 10px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  display: block;
  font-weight: 500;
}
.sidebar a:hover {
  color: white;
}
.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}
/* حالت دارک مود */
body.dark-mode {
  background-color: #1a2a2a; /* رنگ تیره‌ی مکمل */
  color: #f0ffff;
}

header,
.btn1,
.btn2,
.btn3 {
  transition: background-color 0.3s;
}

body.dark-mode header {
  background-color: transparent;
}
body.dark-mode .option1{
  box-shadow: rgb(60, 64, 67) 0px 3px 6px, rgba(60, 64, 67, 0.15) 0px 3px 6px;
}
body.dark-mode .btn1,
body.dark-mode .btn2,
body.dark-mode .btn3 {
  background-color: #263636;
}
body.dark-mode .option1 {
  background-color: #304242;
  color: #f0ffff;
}
body.dark-mode .btn1 img{
  content: url("https://img.icons8.com/ios-glyphs/30/sun.png");
  width: 20;
  height: 20;
  transition: .5s;
}

.dropdown {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 12;
}

.dropbtn {
  width: 35px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 40px 40px 0; /* نیم‌دایره به چپ چسبیده */
  transition: all 0.2s ease;
}
body.dark-mode .dropbtn{
  background-color: #ccc;
  color: #000000;
}
  /* وقتی منو باز بشه نیم‌دایره مستطیل میشه */
.dropdown:hover .dropbtn {
  width: 20px;
  border-radius: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 20px; /* کنار مستطیل باز بشه */
  backdrop-filter: blur(10px);
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-content a {
  direction: rtl;
  border-bottom: 2px #000000 solid;
  font-weight: 400;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  transition: background 0.3s;
}
.dropdown-content a:hover {
background-color: #f0f0f0;
border-top-left-radius: 0px;
}
body.dark-mode .dropdown-content a{
  color: #ccc;
  border-bottom: 2px #fff solid;
}
body.dark-mode .dropdown-content a:hover{
  background-color: #0f0f0f;
  border-top-left-radius: 0px;
}
/* نمایش منو با هاور روی کل dropdown */
.dropdown:hover .dropdown-content {
  display: block;
}

@media (min-width: 768px){
  header h2{
    margin-right: 75px;
  }
  .example{
    max-height: 500px;
  }
    .slider{
        scroll-snap-type: none;
    }
    .slider::-webkit-scrollbar {
    display: block;
  }
  .container1{
    height: 450px;
  }
    .option1{
        flex: 0 0 18%;
        max-height: 375px;
        
    }
.option1 .share,.like,.comment{
 margin-left: 10px;
 margin-top: 55px;
}
    .sidebar{
        width: 260px;
        max-height: 370px;
    }
    .option1 p{
      margin-top: 5px;
    }
    .option1 i{
      font-size: 24px;
      margin-top: 3.5vh;
    }
    .sidebar .close-btn{
      margin-top: .5vh;
    }
}
@font-face {
   font-family: B-titr;
   src: url(font/B-Titr/B\ Titr\ Bold_0.ttf);
}

